<!DOCTYPE html>
<html lang="en">

  <%- include('../layout/head') %>
  <%- include('../layout/header') %>
  <body>
    <img src="https://via.placeholder.com/468x60?text=Visit+Blogging.com+Now">
    <h1 class='title'>About Us</h1>


    <img src="https://via.placeholder.com/150"><p>Marchael</p>
    <img src="img/ameliaprofilepic.jpeg" height="150px" width="150px"><p>Amelia</p>
    <img src="https://via.placeholder.com/150"><p>Matthew</p>



  <%- include('../layout/footer') %>

</body>
</html>