<!DOCTYPE html>
<html lang="en">

  <%- include('../layout/head', {users : users}) %>
  <%- include('../layout/header', {users : users}) %>
  <body>
    <img src="https://via.placeholder.com/468x60?text=Visit+Blogging.com+Now">
    <h1 class='title'>About Us</h1>


    <img src="https://via.placeholder.com/150"><p>Marchael</p>
    <img src="img/ameliaprofilepic.jpeg" height="150px" width="150px"><p>Amelia Waggoner</p> 
    <ul class="ameliainfo">
      <li>B.A. Japanese language & culture, and I am a Pacific Nothwest software programmer.</li>
      <li>Always had a interest in software programming & technology.</li>
      <li>I picked this skill because it will get me into a career where I can constantly grow & learn.</li>
      <li>Goal: work at a Japanese tech company or at a company that partners with Japanese company.</li>
      <li>Currently working at a veterinary hospital.</li>
      <li>Experience in customer service, time management, & team work.</li>
    </ul>
    <img src="https://via.placeholder.com/150"><p>Matthew</p>



  <%- include('../layout/footer', {users : users}) %>

</body>
</html>