<!DOCTYPE html>
<html lang="en">

  <%- include('../layout/head') %>
  <%- include('../layout/header') %>
  <body>
    <img src="https://via.placeholder.com/468x60?text=Visit+Blogging.com+Now">
    <h1>About Us</h1>

    <img src="https://via.placeholder.com/150"><p>Marchael Acode</p>
    <img src="https://via.placeholder.com/150"><p>Amelia Waggoner</p>
    <img src="https://via.placeholder.com/150"><p>Matthew Petersen</p>


  <%- include('../layout/footer') %>

</body>
</html>