<!DOCTYPE html>
<html lang="en">

  <%- include('../layout/head', {users : users}) %>

<body>

  <%- include('../layout/header', {users : users}) %>

  <h1 class='title'>Anime characters</h1>
  
  <form action="/animeForm" method="POST">
    <fieldset>
      <input class='mainSearchButton' type="text" name="animeName" value="">

      <input type="hidden" name="user_name" value="<%= users %>">
      
      <input class='mainButton' type="submit" value="Search Anime Character">
    </fieldset>
  </form>

  <div id='heroes'>
    <img id='naruto' src='img/naruto.jpg' alt='Naruto'>
    <img id='goku' src='img/goku.jpg' alt='Goku'>
    <img id='luffy' src='img/luffy.jpg' alt='Luffy'>
  </div>

  <%- include('../layout/footer', {users : users}) %>

</body>
</html>

<!-- function getmyAnime(req, res){
  const user_name = req.query.user_name;
  res.redirect(`index3?user_name=${user_name}`)
} -->