<!DOCTYPE html>
<html lang="en">

    <%- include('../layout/head') %>
    <%- include('../layout/header') %>

  <body>
    <h1>My collections: </h1>
    


    <br>
    <h1>My watch-list: </h1>
    <% if(animeList){ %>
    <% animeList.url %>
    <% } %>

    <%- include('../layout/footer') %>
  </body>
</html>