<!DOCTYPE html>
<html lang="en">

  <%- include('../layout/head') %>

<body>

  <%- include('../layout/header') %>

  <h1>Welcome to our site </h1>
  
  <form action='/citySearch' method='POST'>
    <fieldset>
      <label for="userSearch">Enter city name</label>
      <input type="text" name="userSearch">

      <label for="Title">Anime</label>
      <input type="radio" id="Anime" value="Anime" name="userSearch">

      <label for="Title">Restaurants</label>
      <input type="radio" id="Restaurants" value="Restaurants" name="userSearch">

      <input type="submit" value="Search my city">
    </fieldset>
  </form>

  <div id='map'></div>

  <%- include('../layout/footer') %>

  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src='https://maps.googleapis.com/maps/api/js?key=<%= key %>&callback=initMap&libraries=&v=weekly' defer></script>
  <script src='js/app.js'></script>
</body>
</html>