<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create A User</title>
</head>
<body>
  <h1>Please Login</h1>

  <% console.log('front end', users) %> 
  <form action="/user" method="POST">
    <fieldset>
      <input type="text" name="username" value="name">
      <input type="submit" value="Enter here">
    </fieldset>
  </form>

<% users.forEach(theUser =>{ %>
  <h2><% theUser.username %></h2>
<% }) %>

</body>
</html>