<!DOCTYPE html>
<html lang="en">

  <%- include('../layout/head') %>

<body>

  <%- include('../layout/header') %>

  <h1>Please Login</h1>

  <% console.log('front end', users) %> 
  <form action="/user" method="POST">
    <fieldset>
      <input type="text" name="username" value="name">
      <input type="submit" value="Enter here">
    </fieldset>
  </form>

<% users.forEach(theUser =>{ %>
  <h2><% theUser.username %></h2>
<% }) %>

<%- include('../layout/footer') %>

</body>
</html>