#map {
  width: 420px;
  height: 420px;
  margin: auto;
  margin-top: 30px;
  border: groove rgb(121, 22, 15) 10px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  #map {
    width: 700px;
    height: 700px;
    margin: auto;
    margin-top: 30px;
    border: groove rgb(121, 22, 15) 10px;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 1000px) {
  #map {
    width: 100%;
    height: 75%;
    margin: auto;
    margin-top: 30px;
    border: groove rgb(121, 22, 15) 10px;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}