/* Bulbasaur colors
 light blue green color - rgb(126, 213, 197)
 darker blue spots color - rgb(40, 99, 98)
 green plant color - rgb(98, 172, 117)
 red eye color - rgb(121, 22, 15);
 */
 * {
  box-sizing: border-box;
}

body {
  background-color: rgb(126, 213, 197);
  color: rgb(40, 99, 98);
  font-family: 'Ma Shan Zheng', cursive;
  /* Link for the custom google font: <link href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap" rel="stylesheet"> */
}
@media only screen and (min-width: 600px) {

/* ==========Login page=========== */
h1 {
  background-color: rgb(98, 172, 117);
  color: rgb(121, 22, 15);
  font-size: 75px;
  font-weight: bold;
}

ul {
  background-color: rgb(40, 99, 98);
  font-size: 60px;
}

form {
  background-color: rgb(40, 99, 98);
}

input {
  background-color: rgb(121, 22, 15);
  color: lightgray;
  border: groove rgb(121, 22, 15) 10px;
  font-family: fantasy;
  font-size: 20px;
}

.loginimgdiv {
  display: block;
  margin-top: 25px;
  text-align: center;
}

#templeimg {
 height: 300px;
 width: 300px;
 border: groove rgb(98, 172, 117) 15px;

}

#mascotimg {
 height: 300px;
 width: 400px;
 border: groove rgb(98, 172, 117) 15px;
 
 
}

#tokyotowerimg {
 height: 300px;
 width: 300px;
 border: groove rgb(98, 172, 117) 15px;
 
}
/* =============My Collection Page=========== */
.collectiondiv {
  display: block;
  margin-left: 100px;
}

#kinkakujiimg {
 height: 200px;
 width: 200px;
 border: groove rgb(121, 22, 15) 15px;
 border-radius: 15px;
 margin-top: 150px;

}

#foodimg {
 height: 200px;
 width: 200px;
 border: groove rgb(121, 22, 15) 15px;
 border-radius: 15px;
 margin-top: 150px;

}

#uenoimg {
  height: 200px;
  width: 200px;
  border: groove rgb(121, 22, 15) 15px;
  border-radius: 15px;
  margin-top: 150px;

}

#landscapeimg {
  height: 200px;
  width: 200px;
  border: groove rgb(121, 22, 15) 15px;
  border-radius: 15px;
  margin-top: 150px;

}

#tokyoimg {
  height: 200px;
  width: 200px;
  border: groove rgb(121, 22, 15) 15px;
  border-radius: 15px;
  margin-top: 150px;

}

/* =============About Us Page=============== */
.ameliainfo {
  background-color: rgb(98, 172, 117);
  font-size: 18px;
}
}