<footer>
 <h1 class='title'>Powered by: Team-Bulbasaur-MMA</h1>
   <p>Marchael Acode <span>&#183;</span> Matthew Petersen <span>&#183;</span> Amelia Waggoner</p>
   <p><span>&#169</span> 2020 Team-Bulbasaur-MMA</p>
</footer>