<footer>
 <h1 class='title'>Powered by: Team-Bulbasaur-MMA </h1>
 <img src="img/bulbasauricon.jpeg" alt="https://icons8.com/icons/set/bulbasaur" height="75px" width="75px">
 <img src="img/bulbasauricon.jpeg" alt="https://icons8.com/icons/set/bulbasaur" height="75px" width="75px">
 <img src="img/bulbasauricon.jpeg" alt="https://icons8.com/icons/set/bulbasaur" height="75px" width="75px">
 <p>Marchael Acode <span>&#183;</span> Matthew Petersen <span>&#183;</span> Amelia Waggoner</p>
 <p><span>&#169</span> 2020 Team-Bulbasaur-MMA</p>

</footer>