<header>
  <nav>
    <h1>Ronin</h1>
    <ul>
      <li><a href='/'>Login</a></li>
      <li><a href='/index'>Home</a></li>
      <li><a href='/aboutUs'>About Us</a></li>
      <li><a href='/collection'>My Collection</a></li>
    </ul>
  </nav>
</header>