<header>
  <nav>
    <h1>Ronin</h1>
    <ul>
      <li><a href='/'>Login</a></li>
      <li><a href='#'>Home</a></li>
      <li><a href='#'>About Us</a></li>
      <li><a href='#'>Search Cities in Japan</a></li>
      <li><a href='#'>My Collection</a></li>
    </ul>
  </nav>
</header>